<div id="sideTower" class="sideTower">
  <ul>
    <li class="sideBnr" id="sideContact">
      <a href="/contact/">
        <img src="/assets/images/bnr_contact_ja.png" alt="メールでお問い合わせはこちら">
      </a>
    </li>
  </ul>
  <div class="sideWidget widget widget_recent_entries" id="recent-post-2">
    <h3 class="localHead">最近の投稿</h3>
    <ul>
      <li><a href="#">田んぼで繁殖するトンボたち(1)</a></li>
      <li><a href="#">ノアの畑の状況と今後の作業</a></li>
      <li><a href="#">ごまの生育状況と畑の現状</a></li>
      <li><a href="#">山でのアキアカネ情報</a></li>
    </ul>
  </div>
  <div class="sideWidget widget widget_archive" id="archives-2">
    <h3 class="localHead">アーカイブ</h3>
    <label class="screen-reader-text" for="archives-dropdown-2">アーカイブ</label>
    <select id="archives-dropdown-2" name="archive-dropdown">
      <option value>月を選択</option>
      <option value="#"> 2019年12月 </option>
      <option value="#"> 2019年11月 </option>
    </select>
  </div>
  <div class="sideWidget widget widget_text" id="text-2">
    <h3 class="localHead">関連リンク</h3>
    <div class="textwidget">
      <ul>
        <li><a href="#">寄居町にトンボ公園を作る会</a></li>
        <li><a href="#">彩の国資源循環向上と環境を考えるひろば</a></li>
        <li><a href="#">私の森.jp</a></li>
        <li><a href="#">自然体感塾ワンダースクール</a></li>
        <li><a href="https://utsuri.jp">utsuri.jp</a></li>
      </ul>
    </div>
  </div>
</div>